.header-menu {
    width: 100%;
    height: 10vh;
    background-color: #373737;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    animation: reveal 1s ease-in-out;
}

.back-to-home { width: 10%; background-color: transparent; }
.fa-arrow-left { color: white; text-decoration: none; font-size: 2.5em; transition: .3s ease-in-out; background-color: transparent; }
.fa-arrow-left:hover {transform: scale(1.1); text-shadow: 2px 2px #ffffff56, 4px 4px #ffffff96;}

.menu-categories {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 1ch;
    background-color: transparent;
}

.menu-category {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

.menu-category::after {
    content: "";
    position: absolute;
    background: #FF9900;
    height: 3px;
    width: 100%;
    left: 0%;
    top: 90%;
    transform: scale(0, 1);
    transition: .3s;
}
.menu-category:hover::after { transform: scale(1, 1); }
.active { color: #FF9900; }

.header-menu-profile {
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}

.menu-header-image { width: 25%; background-color: transparent; }
.header-menu-name { color: white; font-family: 'Poppins', sans-serif; text-align: center; font-size: 1.1em; background-color: transparent; }

.menu-container {
    width: 100%;
    height: 90vh;
    background-color: #252525;
}

.menu-categories-responsive { 
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 3em;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    display: none;
    border-radius: 5px;
}

.categories-responsive { 
    position: absolute;
    width: 66%;
    height: 90vh;
    top: 100%;
    transform: translateX(-125%);
    z-index: 2;
    background-color: #363636;
    transition: .3s ease-in-out;
    border-radius: 5px;
    z-index: 3;
}

.arrow-up {
    width: 10px; 
    height: 10px; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

    border-bottom: 25px solid #363636;
    background-color: transparent;
}

.menu-categories-responsivee {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
    height: 100%;
    background-color: #363636;
    padding: 1rem 0;
    z-index: 3;
}

@media screen and (max-width: 1700px) {
    .menu-categories { width: 40%; }
}

@media screen and (max-width: 1500px) {
    .menu-categories { width: 45%; }
}

@media screen and (max-width: 1350px) {
    .menu-categories { width: 50%; }
}

@media screen and (max-width: 1200px) {
    .menu-categories { width: 55%; }
}

@media screen and (max-width: 1080px) {
    .menu-categories { width: 60%; }
}

@media screen and (max-width: 980px) {
    .menu-categories { width: 70%; }
}

@media screen and (max-width: 980px) {
    .menu-categories { display: none; }
    .menu-categories-responsive { display: flex; } 
    .header-menu-profile { width: 25%; }
}

@media screen and (min-height: 1024px) and (max-width: 768px) {
    .menu-categories { display: flex; }
    .menu-categories-responsive { display: none; } 
    .menu-categories { font-size: .8em; }
    .categories-responsive {
        top: 100%;
        transform: translateX(0);
        font-size: .8em;
        width: 100%;
    }
    .menu-categories-responsivee { 
        width: 50%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(50%);
    }
    .menu-category { margin: 0 15px; }
}    

@media screen and (max-width: 850px) {
    .menu-categories { display: none; }
    .menu-categories-responsive { display: flex; } 
    .header-menu-profile { width: 35%; }
}

@media screen and (max-width: 580px) {
 .fa-arrow-left { font-size: 1.8em; }
 .menu-categories-responsive { font-size: 2.3em; }
}    

@media (max-height: 450px) and (max-width: 850px) {
    .fa-arrow-left { font-size: 1.8em; }
    .menu-categories-responsive { font-size: 2.3em; }
    .categories-responsive {
        top: 100%;
        transform: translateX(0);
        font-size: .8em;
        width: 100%;
    }
    .menu-categories-responsivee { 
        width: 50%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(50%);
    }
    .menu-category { margin: 0 15px; }
}    

@media screen and (max-width: 500px) {
    .arrow-up {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    
        border-bottom: 15px solid #363636;
    }
    .categories-responsive { left: 82%; }
    .menu-categories-responsivee { width: 150%; left: 50%; }
    .header-menu-profile { width: 35%; font-size: .8em; }
}

@media screen and (max-width: 330px) {
    .menu-categories-responsivee { width: 170%; }
    .categories-responsive { left: 74%; }
}